<!DOCTYPE html>
<html lang="zh-cn">
<head>
    <meta charset="UTF-8">
    <meta name="renderer" content="webkit">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport" content="width=device-width,initial-scale=1.0,user-scalable=no">
    <link rel="stylesheet" href="css/base.css">
    <link rel="stylesheet" href="css/02(member).css">
    <title>狼人杀</title>
</head>
<body>
<header>
    <p>确定人数</p>
</header>
<div class="content">
    <div class="member-viewing" ng-app="myApp" ng-controller="myCtrl">
        <div class="member-part01">
            <p>角色分配</p>
            <hr class="hr-type01">
            <div class="divide-role">
                <div class="role-part">
                    <span>平民:</span>
                    <div class="person" ng-bind="person()"></div>
                </div>
                <div class="role-part">
                    <span>狼人:</span>
                    <div class="wolf" ng-bind="wolf"></div>
                </div>
                <div class="role-part">
                    <span>女巫:</span>
                    <div>1</div>
                </div>
                <div class="role-part">
                    <span>预言家:</span>
                    <div>1</div>
                </div>
            </div>
        </div>
        <div class="member-part02">
            <form>
                <label for="num-input">
                    <span>玩家人数:</span><input type="text" ng-bind="changeNum()" value="6" id="num-input" disabled><span>人</span>
                </label>
                <label for="num-range">
                    <span class="reduce" ng-click="reduce()"></span><input type="range" ng-model="numRange" value="6" min="6" max="10" step="1" id="num-range"><span class="plus" ng-click="plus()"></span>
                </label>
            </form>
        </div>
    </div>
</div>
<footer>
    <button>开始发牌</button>
</footer>
<script src="https://cdn.bootcss.com/jquery/3.3.1/jquery.min.js"></script>
<script src="https://cdn.bootcss.com/angular.js/1.7.0/angular.min.js"></script>
<script src="src/ng02.js"></script>
<script src="src/02(member).js"></script>
</body>
</html>